img {
	max-width: 100%;
}

pre {
	box-shadow: 5px 5px 15px 5px #000000
}

.ityped-cursor {
	font-size: 2.2rem;
	opacity: 1;
	-webkit-animation: blink 0.3s infinite;
	-moz-animation: blink 0.3s infinite;
	animation: blink 0.3s infinite;
	animation-direction: alternate;
}

@keyframes blink {
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes blink {
	100% {
		opacity: 0;
	}
}

@-moz-keyframes blink {
	100% {
		opacity: 0;
	}
}



.post-date {
	background-color: #f4f4f4;
	padding: 4px;
	margin: 3px 0;
	display: block;
	font-size: inherit;
}



/* styler for the Swiper.js swiper*/
.swiper-container {
	width: 100%;
	height: 600px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}


